@{
  ViewData["Title"] = "About";
}

<section>
  <h1 class="mb-[1rem] text-[1.75rem] font-bold">About</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore doloremque voluptatem unde consequatur id? Beatae,
    eum esse repellendus autem ex facilis similique quasi voluptas tempora molestiae, cumque deserunt temporibus
    laudantium sequi vel aspernatur voluptatem quis. Eius debitis, dignissimos explicabo doloremque sint, incidunt
    tempora iste, ipsum eaque ratione assumenda minima facilis?</p>
</section>